body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #FAE1DD;
}

#canvas {
  display: none;
}

.navbar h1 {
  text-align: center;
}

.top-container {
  width: 500px;
  margin: 30px auto;
}

.bottom-container {
  max-width: 960px;
  margin: auto;
  padding: 1px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: #F8EDEB 1px solid;
}

.btn-dark {
  background: #D8E2DC;
}

.btn-light {
  background: #FFE5D9;
}

.select {
  height: 40px;
  background: #FFF;
  padding: 3px; 
  width: 100%;
  border: 1px #666 solid;
  margin-bottom: 10px;
}

#photos {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

#photos img {
  width: 100%;
  border: 1px #fff solid;
}